<div class="rating-box mt-3">
  <%= form_with model: @review, url: product_reviews_path(@product), local: true do |f| %>
    <%= render "customer/shared/error_messages", resource: @review %>
    <p class="text-lg mb-3 font-bold">レビューを書く</p>
    <div class="main-rating">
      <div class="ratings mb-3 flex space-x-1">
        <span class="fa fa-star-o cursor-pointer text-yellow-500 text-3xl" id="star1"></span>
        <span class="fa fa-star-o cursor-pointer text-yellow-500 text-3xl" id="star2"></span>
        <span class="fa fa-star-o cursor-pointer text-yellow-500 text-3xl" id="star3"></span>
        <span class="fa fa-star-o cursor-pointer text-yellow-500 text-3xl" id="star4"></span>
        <span class="fa fa-star-o cursor-pointer text-yellow-500 text-3xl" id="star5"></span>
      </div>
      <div class="ml-3">
        <span id="rating-value-display" class="text-lg font-medium">0</span>/5
      </div>
    </div>
    <%= f.hidden_field :product_id, value: @product.id %>
    <%= f.hidden_field :score, id: "rating-value" %>
    <%= f.text_area :content, class: "textarea block w-full p-2 border border-gray-300 rounded", placeholder: "ここにレビュー内容を入力してください" %>
    <%= f.submit "レビューを保存する", class: "bg-green-700 text-white px-4 py-2 rounded mt-3" %>
    <%= link_to "他のレビューを見る", product_reviews_path(@product), class: "bg-orange-500 text-white px-4 py-2 rounded ml-3 mt-3 inline-block" %>
  <% end %>
</div>