<div class="relative mb-6">
  <div class="absolute right-0 top-0 mt-4 mr-4">
    <%= button_to "Shopfizzから退会", confirm_withdraw_customers_path, method: :get, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %>
  </div>
</div>

<div class="mb-6 text-center">
  <span class="text-3xl font-bold">
    プロフィール編集
  </span>
</div>

<div class='flex flex-wrap justify-center mb-6'>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "w-11/12 md:w-10/12 xl:w-8/12" }, data: { turbo: false }) do |f| %>
    <%= render "customer/shared/error_messages", resource: resource %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>現在確認待ちのメール: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="mb-6">
      <%= f.label :name, "お名前", class: "mb-2 block text-sm text-gray-600" %>
      <%= f.text_field :name, class: "w-full rounded-md border border-gray-300 py-2 px-3 placeholder:text-gray-300 focus:border-indigo-300 focus:outline-none focus:ring focus:ring-indigo-100", placeholder: "山田 太郎" %>
    </div>

    <div class="mb-6">
      <%= f.label :email, "メールアドレス", class: "mb-2 block text-sm text-gray-600" %>
      <%= f.email_field :email, class: "w-full rounded-md border border-gray-300 py-2 px-3 placeholder:text-gray-300 focus:border-indigo-300 focus:outline-none focus:ring focus:ring-indigo-100", placeholder: "example@example.com" %>
    </div>

    <div class="mb-6">
      <%= f.label :password, "新しいパスワード", class: "mb-2 block text-sm text-gray-600" %>
      <%= f.password_field :password, class: "w-full rounded-md border border-gray-300 py-2 px-3 placeholder:text-gray-300 focus:border-indigo-300 focus:outline-none focus:ring focus:ring-indigo-100", placeholder: "8文字以上のパスワード" %>
    </div>

    <div class="mb-6">
      <%= f.label :password_confirmation, "新しいパスワード（確認用）", class: "mb-2 block text-sm text-gray-600" %>
      <%= f.password_field :password_confirmation, class: "w-full rounded-md border border-gray-300 py-2 px-3 placeholder:text-gray-300 focus:border-indigo-300 focus:outline-none focus:ring focus:ring-indigo-100", placeholder: "確認のため再度入力" %>
    </div>

    <div class="mb-6">
      <%= f.label :current_password, "現在のパスワード", class: "mb-2 block text-sm text-gray-600" %>
      <%= f.password_field :current_password, class: "w-full rounded-md border border-gray-300 py-2 px-3 placeholder:text-gray-300 focus:border-indigo-300 focus:outline-none focus:ring focus:ring-indigo-100", placeholder: "現在のパスワードを入力" %>
    </div>

    <div class="actions">
      <%= f.submit "プロフィール更新", class: "inline-flex w-full items-center justify-center rounded-md bg-indigo-500 p-3 text-white duration-100 ease-in-out hover:bg-indigo-600 focus:outline-none" %>
    </div>
  <% end %>
</div>
