<div class="mb-8 text-center">
  <span class="text-3xl font-bold">
    商品一覧（登録・更新・削除）
  </span>
</div>

<div class="flex flex-wrap">
  <div class="flex-none w-full max-w-full px-6">
    <%= link_to new_admin_product_path, class: "mb-4 inline-flex items-center justify-center rounded-md bg-indigo-500 p-3 text-white duration-100 ease-in-out hover:bg-indigo-600 focus:outline-none" do %>
      新規商品登録
    <% end %>
    <div class="relative flex flex-col min-w-0 mb-6 break-words bg-white border-0 border-transparent border-solid shadow-soft-xl rounded-2xl bg-clip-border">
      <div class="flex-auto px-0 pt-0 pb-2">
        <div class="p-0 overflow-x-auto">
          <table class="items-center w-full mb-0 align-top border-gray-200 text-slate-500">
            <thead class="align-bottom">
              <tr>
                <th class="px-6 py-3 font-bold text-left uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70">商品名&画像</th>
                <th class="px-6 py-3 pl-2 font-bold text-left uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70">金額</th>
                <th class="px-6 py-3 font-center uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70">在庫数</th>
                <th class="px-6 py-3 font-center uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70">作成日時</th>
                <th class="px-6 py-3 font-center uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70">更新日時</th>
                <th class="px-6 py-3 font-semibold capitalize align-middle bg-transparent border-b border-gray-200 border-solid shadow-none tracking-none whitespace-nowrap text-slate-400 opacity-70"></th>
              </tr>
            </thead>
            <tbody>
              <% @products.each do |product| %>
                <tr id="product-<%= product.id %>">
                  <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                    <%= link_to admin_product_path(product) do %>
                      <div class="flex px-2 py-1">
                        <div class="w-16 mr-5">
                          <%= image_tag product.image, class: "inline-flex items-center justify-center mr-4 text-white transition-all duration-200 ease-soft-in-out text-sm rounded-full object-fill" %>
                        </div>
                        <div class="flex flex-col justify-center">
                          <h6 class="text-lg font-bold"><%= product.name %></h6>
                        </div>
                      </div>
                    <% end %>
                  </td>
                  <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                    <p class="font-semibold leading-tight text-sm"><%= number_to_currency(product.price, unit: "¥", strip_insignificant_zeros: true) %></p>
                  </td>
                  <td class="p-2 text-center align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                    <span class="font-semibold leading-tight text-sm text-slate-400"><%= product.stock %></span>
                  </td>
                  <td class="p-2 text-center align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                    <span class="font-semibold leading-tight text-sm text-slate-400"><%= l product.created_at, format: :short %></span>
                  </td>
                  <td class="p-2 text-center align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                    <span class="font-semibold leading-tight text-sm text-slate-400"><%= l product.updated_at, format: :short %></span>
                  </td>
                <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                  <%= link_to edit_admin_product_path(product), class: "inline-block font-semibold leading-tight text-xs text-white bg-gradient-to-r from-cyan-500 to-indigo-700 hover:from-cyan-500 hover:to-indigo-700 rounded-lg py-1 px-2 shadow transition duration-300" do %>
                    更新
                  <% end %> 
                  <%= link_to '削除', admin_product_path(product), data: { turbo_method: :delete, turbo_confirm: "削除してもよろしいですか?" }, class: "inline-block font-semibold leading-tight text-xs text-white bg-gradient-to-r from-pink-400 to-purple-700 hover:from-pink-400 hover:to-purple-800 rounded-lg py-1 px-2 shadow transition duration-300" %> 
                </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<%# ページネーションを表示する %>
<%= paginate @products %>